body{
    background:linear-gradient(to right,#12c2e9,#c471ed,#f64f59) !important;
    background-repeat: no-repeat;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}

a{
color: black !important;
text-decoration: none !important;
}
.icon{
    size:50px;
    font-size: 2rem;
    color: beige;
    float: right;
}
iframe{
    margin-top: 15px;
    background: black;
}
.row{
    margin-top: 25px;
    overflow: scroll;
    height: 650px;
    padding: 30px;
    margin:30px auto !important;
    background: rgba(0, 0, 0, 0.7);
    box-shadow:10px 10px 20px rgba(255, 255,255, 0.8) ;
    scrollbar-width: none;
}
.box{
    display:none;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    top: 0;
    position: sticky;
    z-index:-1;
    height: 100%;
    transition:9s;
}
.screen{
    max-width: 720px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:60px auto;
    transition: 2s cubic-bezier(0.38,0.04,0.11,0.74) linear;
}

.member{
    margin-top: 15px !important;
    margin: auto;
    max-width: 220px !important;
    background: rgba(250, 250, 250, 0.2);
    box-shadow:0 26px 42px rgba(0, 0,0, 0.3) ;
    padding:15px;
    transition: 0.7s cubic-bezier(0.25,-01.22, 0.165, 1);
}
.member:hover {
    background: rgba(20, 18, 18, 0.5); 
    box-shadow: 0 36px 52px rgba(0, 0, 0, 0.4); 
    max-width: 235px !important;
}
h2{
    padding-top: 15px;
    padding-left: 45px;
    font-size:medium !important;
    font-style: oblique;
    font-weight: 400;
}
img{
    max-width: 100%;
    height: auto;
}